@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: ;""
}
button{
    background-color: #64a712;
    color: white;
    padding: 20px;
}